.baseboard{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}
.baseboard > h1{
    font-family: Recursive;
    font-weight: 400;
    font-size: 18px;
}