.logoRecall{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.zapName{
    font-family: Righteous;
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
}
.imgRecall{
    width: 52px;
    height: 60px;
    margin-right: 20px;
}