.contentQuestion{
    display: flex;
    justify-content: center;
}
.clickQuestion {
    background-color: aqua;
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 25px;
}
.clickQuestion > h1{
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
ion-icon{
    width: 23px;
    height: 20px;
    cursor: pointer;
}
.clickAnswer{
    background-color: aqua;
    width: 300px;
    height: 130px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 25px;
}
.clickAnswer > img {
    width: 23px;
    height: 20px;
    cursor: pointer;
    margin-top: 90px;
}
.clickAnswer > h1{
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}