.contentQuestion{
    display: flex;
    justify-content: center;
}
.clickQuestion {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 25px;
}
.clickQuestion > h1{
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
ion-icon{
    width: 23px;
    height: 20px;
    cursor: pointer;
}
.clickAnswer{
    width: 300px;
    height: 130px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 25px;
    position: relative;
}
.clickAnswer > img {
    width: 23px;
    height: 20px;
    cursor: pointer;
    margin-top: 90px;
}
.clickAnswer > h1{
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px; 
}
.wrong{
    width: 86px;
    height: 38px;
    background: #FF3030;
    border-radius: 5px;
    margin-right: 11px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
}
.maybe{
    width: 86px;
    height: 38px;
    background: #FF922E;
    border-radius: 5px;
    margin-right: 11px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
}
.right{
    width: 86px;
    height: 38px;
    background: #2FBE34;
    border-radius: 5px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
}
.final{
    color: #2FBE34;
    text-decoration-line: line-through;
}
.red{
    color: #FF3030;
    text-decoration-line: line-through;
}
.yellow{
    color: #FF922E;
    text-decoration-line: line-through;
}